.navbar {
  padding: 1%;
  border-bottom: 2px solid black;
  box-shadow: 1px 1px 5px black;
}

.navbar:first-child {
  padding: 0;
}

a {
  border-right: 2px solid black;
  height: 70px;
  font-size: xx-large;
}
.logo_img {
  height: 60px;
  width: auto;
  margin: 5px;
}
.nav-item {
  padding-top: 25px;
}
#view_container {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
#ubt {
  float: right;
  position: absolute;
  right: 0;
}
