<div id="ubContainer">
  <div
    id="logInView"
    [ngStyle]="{
      display: this.userService.loggedIn ? 'none' : 'block'
    }"
  >
    <div class="topMessage">You're not logged in</div>
    <div class="else">
      <div class="info">
        <div class="itemCount">In basket: {{ this.bCount }}</div>
        <div class="totalPrice">Price: {{ this.userService.totalPrice }}</div>
      </div>
      <div class="basketControls">
        <button class="basketButton" routerLink="Basket">Basket</button>
        <div class="currencySelector">
          <button class="eurButton" (click)="this.userService.currency('EUR')">
            EUR
          </button>
          <button class="usdButton" (click)="this.userService.currency('USD')">
            USD
          </button>
        </div>
      </div>
    </div>
    <div class="lBts">
      <button id="loginButton" (click)="this.showLogin()">
        Log In / Register
      </button>
    </div>
  </div>
  <div
    id="userView"
    [ngStyle]="{
      display: this.userService.loggedIn ? 'block' : 'none'
    }"
  >
    <div class="topMessage">Welcome {{ this.userService.login }}</div>
    <div class="else">
      <div class="info">
        <div class="itemCount">In basket: {{ this.bCount }}</div>
        <div class="totalPrice">Price: {{ this.userService.totalPrice }}</div>
      </div>
      <div class="basketControls">
        <button class="basketButton" routerLink="Basket">Basket</button>
        <div class="currencySelector">
          <button class="eurButton" (click)="this.userService.currency('EUR')">
            EUR
          </button>
          <button class="usdButton" (click)="this.userService.currency('USD')">
            USD
          </button>
        </div>
      </div>
    </div>
    <div class="lBts">
      <button id="logoutButton" (click)="this.logOut()">Log Out</button>
    </div>
  </div>
</div>
<app-login-popup
  id="alp"
  [visibility]="this.loginVisible || this.userService.loggedIn"
></app-login-popup>
