#ubContainer {
  display: block;
  float: right;
  height: 70px;
  width: 450px;
}

#loginView,
#userView {
  height: 100%;
}

.topMessage {
  width: 100%;
  text-align: center;
}

#lBts {
  display: block;
  float: left;
  width: 100px;
}

.else {
  display: block;
  float: left;
  width: 300px;
  height: 50px;
}

.info {
  display: block;
  float: left;
  width: 150px;
  height: 50px;
}

#logInView {
  display: block;
}

#userView {
  display: none;
}

.basketButton {
  float: left;
  width: 100px;
  height: 25px;
}

.itemCount {
  width: 200px;
  float: left;
  display: block;
  height: 25px;
}

.totalPrice {
  width: 200px;
  float: left;
  display: block;
  height: 25px;
}

.basketControls {
  height: 50px;
  width: 100px;
  display: block;
  float: left;
}

#alp {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.eurButton,
.usdButton {
  height: 25px;
  width: 50px;
}
