<div id="modal">
  <div class="frame">
    <ngb-carousel *ngIf="dishListService.getDish(this.idOfDish).photo_links">
      <ng-template
        ngbSlide
        *ngFor="
          let img of dishListService.getDish(this.idOfDish).photo_links;
          let i = index
        "
      >
        <div class="picsum-img-wrapper">
          <img
            [src]="dishListService.getDish(this.idOfDish).photo_links[i]"
            alt="{{ this.idOfDish }}"
          />
        </div>
      </ng-template>
    </ngb-carousel>
    <h1>{{ this.idOfDish | titlecase }}</h1>
    <h3>
      Cuisine type:
      {{ dishListService.getDish(this.idOfDish).cuisine | titlecase }}
    </h3>
    <h4>Type of meal: {{ dishListService.getDish(this.idOfDish).type }}</h4>
    <p>
      Meat:
      {{ dishListService.getDish(this.idOfDish).meat }}
    </p>
    <p>Ingredients:</p>
    <ul
      *ngFor="
        let ingredient of dishListService.getDish(this.idOfDish).ingredients
      "
    >
      <li>{{ ingredient }}</li>
    </ul>
    <p>Description: {{ dishListService.getDish(this.idOfDish).description }}</p>
    <p>
      Price:
      {{
        dishListService.getDish(this.idOfDish).price *
          this.userService.multiplier
      }}
      {{ this.userService.curr }}
    </p>
    <div class="quantity_label">
      <p>In stock: {{ dishListService.getDish(this.idOfDish).inStock }}</p>
    </div>
    <!-- <div class="buttons">
      <button
        (click)="onPlusClick()"
        [disabled]="!isPlusButtonVisible()"
        class="plus_button"
      >
        +
      </button>
      <button
        (click)="onMinusClick()"
        [disabled]="!isMinusButtonVisible()"
        class="minus_button"
      >
        -
      </button>
    </div> -->
  </div>
</div>
